/*/$breakpoint argument choices
-xsmall 400
-small 700
-med 860
-lrg 930
-xlrg 1200

*/
/*
@mixin respond($breakpoint) {
 
  @if $breakpoint == xsmall {
   @media (max-width: 25em) { @content}; //400px /16 = 25
  }
  @if $breakpoint == small {
    @media (max-width: 44em) { @content}; //700 /16
  }
  @if $breakpoint == med {
    @media (max-width: 54em) { @content}; //860
  }
  @if $breakpoint == lrg {
    @media (max-width: 58em) { @content}; //930
  }
  @if $breakpoint == xlrg {
    @media (max-width: 75em) { @content}; //1200
  }

}  
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*set root font-size in html
if user changes default font size they need percentages
divide what you want by (10px)  ---> 10/16 = 625*

order of media queries --> base +typography, layout + grid, components

*/
html {
  font-size: 62.5%; }

@media only screen and (max-width: 38em) {
  .container {
    padding: 0;
    margin-right: 0; } }

/*
  @include respond(xsmall) {
    font-size: 50%;
  }

  @include respond(small) {
    font-size: 60%;
  }

  @include respond(med) {
    font-size: 70%;
  }

  @include respond(lrg) {
    font-size: 80%;
  }

  @include respond(xlrg) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
} */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #4a4a4a;
  padding: 3rem; }

.heading-primary {
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out; }
  .heading-primary--main {
    color: #fff;
    font-family: 'shrikhand', cursive;
    font-size: 4.8rem;
    font-weight: 400;
    /*backface-visibility: hidden; */ }
    @media only screen and (max-width: 54em) {
      .heading-primary--main {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 38em) {
      .heading-primary--main {
        font-size: 3.2rem; } }
  .heading-primary--sub {
    font-size: 2.4rem;
    color: #4a4a4a;
    font-weight: 100;
    line-height: 3rem;
    animation: moveInRight 2s ease-out; }
    @media only screen and (max-width: 58em) {
      .heading-primary--sub {
        display: block; } }
    @media only screen and (max-width: 54em) {
      .heading-primary--sub {
        font-size: 2rem;
        display: block; } }
    @media only screen and (max-width: 38em) {
      .heading-primary--sub {
        font-size: 1.8rem; } }

.heading-secondary {
  font-size: 3.2rem;
  font-family: 'shrikhand', cursive;
  color: #fff;
  font-weight: 400; }

.heading-secondary-dark {
  font-size: 3.2rem;
  font-family: 'shrikhand', cursive;
  color: rgba(74, 74, 74, 0.5);
  font-weight: 400; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-20 {
  margin-bottom: 2rem; }

.u-margin-top-24 {
  margin-top: 2.4rem; }

.img {
  height: auto;
  max-width: 100%; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ff2956;
  font-size: 1.6rem;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem 2.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s; }
  @media only screen and (max-width: 54em) {
    .btn:link, .btn:visited {
      font-size: 1.2rem;
      padding: 1.2rem 2rem; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ff2956;
  font-size: 1.6rem;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding: 1.5rem 2.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s; }
  @media only screen and (max-width: 54em) {
    .btn:link, .btn:visited {
      font-size: 1.2rem;
      padding: 1.2rem 2rem; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.footer {
  grid-column: 1 / -1;
  height: 10rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem; }
  .footer__nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 100%; }
    .footer__nav > li {
      margin-top: 2rem;
      list-style: none;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      font-size: 1.6rem;
      text-decoration: none;
      /*&:not(first-child) {
        margin-left: 4rem;
      } */ }
      @media only screen and (max-width: 38em) {
        .footer__nav > li {
          font-size: 1.4rem;
          /*margin-right: 2rem;
        &:not(:first-child) {
          margin-left: 2rem;
        } */ } }
      .footer__nav > li > a {
        text-decoration: none;
        color: rgba(74, 74, 74, 0.5);
        display: inline-block;
        transition: all 0.2s; }
        .footer__nav > li > a:hover {
          transform: translateY(-0.3rem);
          text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          color: #ff2956; }
        .footer__nav > li > a:active {
          transform: translateY(-0.1rem);
          text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/*.row {
  max-width: $grid-width;
  //margin: 0 auto;
  
  
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;


  }

  @include clearfix;
//select alll that start with col-1
  [class^="col-"] {
    
    float: left;
  

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }

  }

  .col-1-of-2 {
    width: calc((100% - 0rem) / 2);
    
    
  }


.col-1-of-3 {
  width: calc((100% - 2 * 0rem) / 3);
}

.col-2-of-3 {
  width: calc(2 * ((100% - 2 * 0rem) / 3) + 0rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 0rem) / 4);
}

.col-2-of-4 {
  width: calc(2 * ((100% - 3 * 0rem) / 4) + 0rem);
}

.col-3-of-4 {
  width: calc(3 * ((100% - 3 * 0rem) / 4) + (2 * 0rem));
}
} */
.header {
  background: linear-gradient(to right bottom, #bac5cc, #eef2f3);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  grid-column: 1 / -1; }
  @media only screen and (max-width: 38em) {
    .header {
      -webkit-clip-path: none;
      clip-path: none;
      padding-bottom: 8rem; } }
  @media only screen and (max-width: 30em) {
    .header {
      -webkit-clip-path: none;
      clip-path: none; } }
  .header__nav {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center; }
    @media only screen and (max-width: 54em) {
      .header__nav {
        justify-content: space-around; } }
    @media only screen and (max-width: 38em) {
      .header__nav {
        justify-content: space-around;
        padding: 2rem; } }
  .header__navigation {
    display: flex;
    flex-direction: row; }
    .header__navigation > li {
      list-style: none;
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      font-size: 1.6rem;
      text-decoration: none;
      margin-right: 2rem;
      margin-left: 2rem;
      font-size: 1.4rem;
      justify-content: space-around; }
      @media only screen and (max-width: 38em) {
        .header__navigation > li {
          justify-content: space-around; } }
      @media only screen and (max-width: 30em) {
        .header__navigation > li {
          font-size: 1.4rem;
          justify-content: space-around; } }
      .header__navigation > li > a {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        transition: all 0.2s; }
      .header__navigation > li > a:hover {
        transform: translateY(-0.3rem);
        text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        color: #ff2956; }
      .header__navigation > li > a:active {
        transform: translateY(-0.1rem);
        text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        color: #ff2956; }
  .header__content {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 38em) {
      .header__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto; } }
  .header__textbox {
    margin-left: 5rem; }
    @media only screen and (max-width: 54em) {
      .header__textbox {
        align-self: baseline;
        margin-top: 4rem; } }
    @media only screen and (max-width: 38em) {
      .header__textbox {
        grid-column-start: 3 / span 1;
        text-align: center;
        margin: 0 auto; } }
  .header__img {
    text-align: center; }
    @media only screen and (max-width: 58em) {
      .header__img {
        max-width: 90%; } }
    @media only screen and (max-width: 54em) {
      .header__img {
        max-width: 70%; } }
    @media only screen and (max-width: 38em) {
      .header__img {
        grid-row-start: 1;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        justify-self: center;
        padding: 0;
        margin: 0; } }

#case1 {
  background-color: aqua; }

.container {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }
  .container .project1 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 3fr minmax(30rem, 1fr);
    align-items: center;
    padding: 4rem;
    max-width: 100%;
    overflow: hidden; }
    @media only screen and (max-width: 54em) {
      .container .project1 {
        grid-template-columns: 3fr minmax(24rem, 1fr);
        padding-left: 0; } }
    @media only screen and (max-width: 38em) {
      .container .project1 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 4rem; } }
    .container .project1__btn {
      margin-top: 2.4rem; }
      @media only screen and (max-width: 38em) {
        .container .project1__btn {
          margin-top: 1.6rem;
          margin-bottom: 1.6rem; } }
    .container .project1__img {
      width: 100%; }
      @media only screen and (max-width: 75em) {
        .container .project1__img {
          width: 90%; } }
      @media only screen and (max-width: 54em) {
        .container .project1__img {
          width: 100%; } }
    .container .project1__content {
      width: 25rem; }
      @media only screen and (max-width: 75em) {
        .container .project1__content {
          margin-right: 3rem; } }
      @media only screen and (max-width: 38em) {
        .container .project1__content {
          text-align: center;
          align-self: center;
          width: 25rem;
          margin: 0 auto;
          grid-row: 1 / span 1; } }
  .container .project2 {
    grid-column: 1 / -1;
    background: linear-gradient(to right bottom, #bac5cc, #eef2f3);
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 4rem;
    max-width: 100%;
    overflow: hidden; }
    @media only screen and (max-width: 54em) {
      .container .project2 {
        grid-template-columns: minmax(24rem, 1fr) 3fr;
        padding: 2rem; } }
    @media only screen and (max-width: 38em) {
      .container .project2 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 4rem; } }
    .container .project2__content {
      margin-left: 5rem;
      width: 35rem; }
      @media only screen and (max-width: 75em) {
        .container .project2__content {
          margin-left: 3rem; } }
      @media only screen and (max-width: 54em) {
        .container .project2__content {
          max-width: 30rem;
          margin-left: 0; } }
      @media only screen and (max-width: 38em) {
        .container .project2__content {
          text-align: center;
          align-self: center;
          width: 27rem;
          margin: 0 auto;
          grid-row: 1 / span 1; } }
    .container .project2__btn {
      margin-top: 2.4rem; }
      @media only screen and (max-width: 38em) {
        .container .project2__btn {
          margin-top: 1.6rem;
          margin-bottom: 1.6rem; } }
