/*/$breakpoint argument choices
-xsmall 400
-small 700
-med 860
-lrg 930
-xlrg 1200

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*set root font-size in html
if user changes default font size they need percentages
divide what you want by (10px)  ---> 10/16 = 625*

order of media queries --> base +typography, layout + grid, components

*/
html {
  font-size: 62.5%; }
  @media (max-width: 44em) {
    html {
      font-size: 55%; } }
  @media (min-width: 75em) {
    html {
      font-size: 80%; } }

@media only screen and (max-width: 38em) {
  .container {
    padding: 0;
    margin-right: 0; } }

/*
  @include respond(xsmall) {
    font-size: 50%;
  }

  @include respond(small) {
    font-size: 60%;
  }

  @include respond(med) {
    font-size: 70%;
  }

  @include respond(lrg) {
    font-size: 80%;
  }

  @include respond(xlrg) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
} */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #4a4a4a;
  padding: 3rem; }

.spacing {
  letter-spacing: 1px; }

.heading-primary {
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out; }
  .heading-primary--main {
    color: #fff;
    font-family: 'shrikhand', cursive;
    font-size: 9.8rem;
    font-weight: 400;
    /*backface-visibility: hidden; */ }
  .heading-primary--about {
    color: #fff;
    font-family: 'shrikhand', cursive;
    font-size: 9.8rem;
    font-weight: 400;
    margin-left: 10rem;
    /*backface-visibility: hidden; */ }
    @media only screen and (max-width: 38em) {
      .heading-primary--about {
        font-size: 8rem;
        margin: 0 auto; } }
    @media only screen and (max-width: 44em) {
      .heading-primary--about {
        font-size: 7rem; } }
    @media only screen and (max-width: 54em) {
      .heading-primary--about {
        font-size: 7rem; } }
    @media only screen and (max-width: 58em) {
      .heading-primary--about {
        font-size: 7rem; } }
  .heading-primary--sub {
    font-size: 2.4rem;
    color: #4a4a4a;
    font-weight: 100;
    animation: moveInRight 2s ease-out; }
    @media only screen and (max-width: 58em) {
      .heading-primary--sub {
        display: block; } }
    @media only screen and (max-width: 54em) {
      .heading-primary--sub {
        font-size: 2rem;
        display: block; } }
    @media only screen and (max-width: 38em) {
      .heading-primary--sub {
        font-size: 1.8rem; } }

.heading-secondary {
  font-size: 3.2rem;
  font-family: 'shrikhand', cursive;
  color: #fff;
  font-weight: 400; }

.heading-secondary-dark {
  font-size: 3.2rem;
  font-family: 'shrikhand', cursive;
  color: rgba(74, 74, 74, 0.5);
  font-weight: 400; }

.h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: .8rem; }

.h5 {
  padding-bottom: 2.4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #4a4a4a; }

.h6 {
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: underline solid #91d3c1; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-20 {
  margin-bottom: 2rem; }

.u-margin-top-24 {
  margin-top: 2.4rem; }

.img {
  height: auto;
  max-width: 100%; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ff2956;
  font-size: 1.6rem;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 1rem 2.5rem;
  display: inline-block;
  border-radius: .4rem;
  transition: all .2s; }
  @media only screen and (max-width: 54em) {
    .btn:link, .btn:visited {
      font-size: 1.2rem;
      padding: 1.2rem 2rem; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ff2956;
  font-size: 1.6rem;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 1.5rem 2.5rem;
  display: inline-block;
  border-radius: .4rem;
  transition: all .2s; }
  @media only screen and (max-width: 54em) {
    .btn:link, .btn:visited {
      font-size: 1.2rem;
      padding: 1.2rem 2rem; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.title {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  grid-gap: 2rem;
  letter-spacing: 2px;
  font-weight: 400; }

/*.row {
  max-width: $grid-width;
  //margin: 0 auto;
  
  
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;


  }

  @include clearfix;
//select alll that start with col-1
  [class^="col-"] {
    
    float: left;
  

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }

  }

  .col-1-of-2 {
    width: calc((100% - 0rem) / 2);
    
    
  }


.col-1-of-3 {
  width: calc((100% - 2 * 0rem) / 3);
}

.col-2-of-3 {
  width: calc(2 * ((100% - 2 * 0rem) / 3) + 0rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 0rem) / 4);
}

.col-2-of-4 {
  width: calc(2 * ((100% - 3 * 0rem) / 4) + 0rem);
}

.col-3-of-4 {
  width: calc(3 * ((100% - 3 * 0rem) / 4) + (2 * 0rem));
}
} */
.header {
  background: linear-gradient(to right bottom, #eef2f3, #bac5cc);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  grid-column: 1 / -1;
  /*&__text-box {
    position: relative;
margin-top: 50%;
    left: 15%;
  }

  &__img {
    position: relative;
    bottom: 0;
    right: 0;
  } */ }
  @media only screen and (max-width: 38em) {
    .header {
      -webkit-clip-path: none;
      clip-path: none; } }
  @media only screen and (max-width: 30em) {
    .header {
      -webkit-clip-path: none;
      clip-path: none; } }
  .header#case1 {
    background: #91d3c1;
    -webkit-clip-path: none;
    clip-path: none; }
  .header#case2 {
    background: linear-gradient(to right bottom, #fc9d00, #f76400);
    -webkit-clip-path: none;
    clip-path: none; }
  .header#case3 {
    height: 70vh;
    background: linear-gradient(to right bottom, #eef2f3, #bac5cc);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    grid-column: 1 / -1; }
  .header__heart {
    display: inline-block;
    vertical-align: middle;
    width: 2.4rem; }
  .header__nav {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
    padding-bottom: 4rem; }
    @media only screen and (max-width: 54em) {
      .header__nav {
        justify-content: space-around; } }
    @media only screen and (max-width: 38em) {
      .header__nav {
        justify-content: space-around;
        padding: 2rem; } }
  .header__navigation {
    display: flex;
    flex-direction: row; }
    .header__navigation > li {
      list-style: none;
      font-family: "Open Sans", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 400;
      text-decoration: none;
      margin-right: 2rem;
      margin-left: 2rem;
      font-size: 1.4rem;
      justify-content: space-around; }
      @media only screen and (max-width: 38em) {
        .header__navigation > li {
          justify-content: space-around; } }
      @media only screen and (max-width: 30em) {
        .header__navigation > li {
          font-size: 1.4rem;
          justify-content: space-around; } }
      .header__navigation > li > a {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        transition: all 0.2s; }
      .header__navigation > li > a:hover {
        transform: translateY(-0.3rem);
        text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        color: #ff2956; }
      .header__navigation > li > a:active {
        transform: translateY(-0.1rem);
        text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        color: #ff2956; }
      .header__navigation > li > a.accent {
        color: #ff2956; }
      .header__navigation > li > a.dark {
        color: #bac5cc; }
      .header__navigation > li > a.dark:hover {
        color: #ff2956; }
  .header__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12rem; }
    @media only screen and (max-width: 38em) {
      .header__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto; } }
    .header__content#about {
      max-width: 120rem;
      margin: 0 auto; }
  @media only screen and (max-width: 54em) {
    .header__textbox {
      align-self: baseline;
      margin-top: 4rem; } }
  @media only screen and (max-width: 38em) {
    .header__textbox {
      grid-column-start: 3 / span 1;
      text-align: center;
      margin: 0 auto 4rem auto; } }
  .header__img {
    text-align: center; }
    @media only screen and (max-width: 38em) {
      .header__img {
        grid-row-start: 1;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        justify-self: center;
        padding: 0;
        margin: 0; } }
    @media only screen and (min-width: 54em) {
      .header__img {
        max-width: 70%; } }
    @media only screen and (min-width: 75em) {
      .header__img {
        max-width: 70%; } }
    @media only screen and (max-width: 58em) {
      .header__img {
        max-width: 70%; } }

.about {
  grid-column: 1 / -1; }
  @media only screen and (max-width: 38em) {
    .about {
      padding-top: 2rem; } }
  .about h3 {
    margin-top: 4rem;
    margin-bottom: .2rem; }
  .about__img {
    width: 8.8rem; }
  .about__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: min-content auto; }
  .about__p {
    display: grid;
    grid-column: 2 / 3; }
    .about__p .accent {
      color: #ff2956; }
    .about__p > p {
      line-height: 1.5; }
  .about__list {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: repeat(2, min-content);
    margin-top: 4rem; }
  .about__ul {
    display: grid;
    padding: 2.4rem 0 2.4rem 0;
    list-style-type: none;
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
    .about__ul > li {
      margin: 0 0 1.6rem 0; }

.hr {
  display: grid;
  grid-column: 1 / -1;
  margin-top: 4rem; }

.form {
  margin-top: -50vh;
  z-index: 999;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr 3fr 1fr; }
  .form__section {
    margin-bottom: 1rem; }
  .form__span {
    background: #ff2956;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    color: #fff;
    margin-right: 5px;
    vertical-align: middle; }
  .form__wrapper {
    display: grid;
    grid-column: 2 / 3;
    max-width: 45rem;
    padding: 30px;
    margin: 40px auto;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13); }
    @media only screen and (max-width: 38em) {
      .form__wrapper {
        min-width: 30rem; } }
    .form__wrapper > span {
      display: block;
      margin-top: 2px;
      font-family: 13px Arial, Helvetica, sans-serif; }
  .form__inner-wrap {
    padding: 30px;
    background: #eef2f3;
    border-radius: 6px;
    margin-bottom: 15px; }
    .form__inner-wrap p > input {
      margin-right: .5rem; }
    .form__inner-wrap > label {
      display: block;
      font-family: 13px Arial, Helvetica, sans-serif;
      margin: 0 auto 1.6rem auto; }
      .form__inner-wrap > label input[type="checkbox"] {
        vertical-align: middle; }
      .form__inner-wrap > label > input {
        color: rgba(74, 74, 74, 0.25); }
    .form__inner-wrap input[type="text"],
    .form__inner-wrap input[type="date"],
    .form__inner-wrap input[type="datetime"],
    .form__inner-wrap input[type="email"],
    .form__inner-wrap input[type="number"],
    .form__inner-wrap input[type="search"],
    .form__inner-wrap input[type="url"],
    .form__inner-wrap input[type="password"],
    .form__inner-wrap textarea,
    .form__inner-wrap select {
      display: block;
      margin-top: 4px;
      width: 95%;
      padding: 8px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border: 2px solid #fff; }
  .form__submit {
    margin-top: 2.4rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ff2956;
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 1rem 2.5rem;
    display: inline-block;
    border-radius: .4rem;
    transition: all .2s; }
  .form__submit:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.slidecontainer {
  width: 100%; }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background: #bac5cc;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff2956;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff2956;
  cursor: pointer; }

.phone {
  margin-top: 2.4rem; }

.numbers {
  font-family: "Open Sans", sans-serif; }

@supports (display: grid) {
  .title:before,
  .title:after {
    content: " ";
    align-self: center;
    border-top: 1px solid #bac5cc; }
  .quote:before,
  .quote:after {
    content: " ";
    align-self: center;
    border-top: 2px solid #91d3c1; } }

p {
  line-height: 1.5; }

.indie {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  padding: 4rem; }
  .indie__img {
    grid-row: 1 /2;
    max-width: 90%;
    margin: 0 auto; }
  .indie__content {
    grid-row: 2/3;
    margin-top: 4rem;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 38em) {
      .indie__content {
        margin-bottom: 0; } }

.roles {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #eef2f3;
  margin-bottom: 2.4rem;
  padding: 4rem;
  justify-items: left; }
  @media only screen and (max-width: 38em) {
    .roles {
      grid-template-columns: 1fr;
      grid-rows: repeat(3, 1fr);
      justify-items: left;
      grid-gap: 2rem;
      margin: 0; } }
  .roles__1 {
    grid-column: 1 / 2;
    margin: 0 auto; }
    .roles__1 > h4 {
      text-align: left; }
    .roles__1 > ul {
      text-align: left; }
    @media only screen and (max-width: 38em) {
      .roles__1 {
        margin: 0; } }
  .roles__2 {
    grid-column: 2 / 3;
    margin: 0 auto; }
    .roles__2 > h4 {
      text-align: left; }
    .roles__2 > ul {
      text-align: left; }
    @media only screen and (max-width: 38em) {
      .roles__2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 0; }
        .roles__2 > h4, .roles__2 > ul {
          text-align: left; } }
  .roles__3 {
    grid-column: 3 / 4;
    margin: 0 auto; }
    @media only screen and (max-width: 38em) {
      .roles__3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 0; }
        .roles__3 > h4, .roles__3 > ul {
          text-align: left; } }
    .roles__3 > h4 {
      text-align: left; }
    .roles__3 > ul {
      text-align: left; }
  .roles__list {
    list-style: none;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5; }

.problem {
  grid-column: 1 / -1; }
  @media only screen and (max-width: 38em) {
    .problem {
      padding-top: 2rem; } }
  .problem__data {
    line-height: 1.2;
    min-width: 260px; }
  .problem__img {
    width: 8.8rem; }
  .problem__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: min-content auto; }
  .problem__quote {
    grid-column: 2 / 3;
    text-align: center;
    font-size: 2.4rem;
    color: #91d3c1;
    font-weight: bold;
    padding: 2rem; }
  .problem__quote:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 2px solid #91d3c1;
    padding-top: 2rem; }
  .problem__source {
    font-size: 1.2rem;
    color: #bac5cc; }
  .problem__qmark {
    font-size: 3.2rem;
    font-family: 'Coiny', cursive;
    color: #91d3c1; }
  .problem__p {
    display: grid;
    grid-column: 2 / 3; }
  .problem__list {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: repeat(2, min-content);
    margin-top: 4rem; }
  .problem__p-1 {
    line-height: 1.5; }
  .problem__table {
    display: table-cell;
    margin-top: 4rem;
    grid-column: 2 / 3;
    border-spacing: 10px;
    vertical-align: middle; }
    .problem__table-right {
      text-align: right;
      padding-right: 2px; }
  .problem__figures {
    font-family: 'shrikhand', cursive;
    color: #91d3c1;
    font-weight: bold;
    font-size: 4rem;
    white-space: nowrap; }
    @media only screen and (max-width: 58em) {
      .problem__figures {
        font-size: 3rem; } }

.comparison {
  margin-top: 4rem;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 58em) {
    .comparison {
      grid-template-columns: 1fr;
      grid-template-rows: auto; } }
  .comparison__h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding-bottom: 2.4rem;
    font-weight: 600;
    letter-spacing: 1px; }
    .comparison__h3-span {
      color: #91d3c1;
      grid-column: 2 / 3;
      font-size: 4rem; }
      @media only screen and (max-width: 58em) {
        .comparison__h3-span {
          grid-column: 1 / -1; } }
  .comparison__ul {
    padding: 2.4rem 0 2.4rem 0;
    list-style: none;
    white-space: nowrap; }
    .comparison__ul > li {
      margin: 0 0 1.6rem 0; }
    .comparison__ul > li::before {
      content: "\2022";
      color: #91d3c1;
      display: inline-block;
      width: 4rem;
      text-align: center; }
  .comparison__slow {
    display: grid;
    grid-column: 3 / -1;
    justify-items: center; }
    @media only screen and (max-width: 58em) {
      .comparison__slow {
        grid-column: 1 / -1;
        grid-row: 3 / 4; } }
  .comparison__fast {
    display: grid;
    grid-column: 1 / 2;
    justify-items: center; }
    @media only screen and (max-width: 58em) {
      .comparison__fast {
        grid-column: 1 / -1;
        grid-row: 1 / 2; } }

.solution {
  margin-top: 8rem;
  grid-column: 1 / -1; }
  .solution__data {
    line-height: 1.2;
    min-width: 360px; }
  .solution__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; }
    .solution__wrapper > p {
      display: grid;
      grid-column: 2 / 3;
      margin-top: 2rem; }
  .solution__table {
    display: table-cell;
    margin: 4rem 0 4rem 0;
    border-spacing: 10px;
    grid-column: 2 / 3;
    vertical-align: middle; }
    .solution__table-right {
      text-align: right;
      padding-right: 5px; }

.discovery {
  display: grid;
  background: #eef2f3;
  grid-column: 1 / -1;
  padding: 4rem 0 4rem 0; }
  .discovery__analysis {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr repeat(2, min-content); }
    .discovery__analysis > P {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 4rem 0 4rem 0; }
  .discovery__img1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    margin: 0 auto 4rem auto; }
  .discovery__img2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 100%;
    margin: 0 auto 4rem auto; }

.survey {
  display: grid;
  margin-top: 8rem;
  grid-column: 1 / -1; }
  .survey__p {
    margin: 4rem 0 4rem 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; }
    .survey__p > p {
      grid-column: 2 / 3; }
  .survey__charts {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 6rem;
    padding: 2rem; }
    @media only screen and (max-width: 58em) {
      .survey__charts {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 0;
        padding: 0; } }
    .survey__charts-1 {
      display: grid;
      grid-row: 1 / 2;
      justify-items: center; }
      .survey__charts-1 > img {
        max-width: 100%; }
        @media only screen and (max-width: 58em) {
          .survey__charts-1 > img {
            max-width: 70%; } }
    .survey__charts-2 {
      display: grid;
      grid-row: 1 / 2;
      width: 100%;
      justify-items: center; }
      @media only screen and (max-width: 58em) {
        .survey__charts-2 {
          grid-row: 2 /3;
          padding-top: 8rem; } }
      .survey__charts-2 > img {
        max-width: 100%; }
        @media only screen and (max-width: 58em) {
          .survey__charts-2 > img {
            max-width: 70%; } }
    .survey__charts-3 {
      display: grid;
      grid-row: 2 / 3;
      justify-items: center;
      padding-top: 4rem; }
      @media only screen and (max-width: 58em) {
        .survey__charts-3 {
          grid-row: 3 / 4;
          padding-top: 8rem; } }
      .survey__charts-3 > img {
        max-width: 100%; }
        @media only screen and (max-width: 58em) {
          .survey__charts-3 > img {
            max-width: 70%; } }
    .survey__charts-4 {
      display: grid;
      grid-row: 2 / 3;
      justify-items: center;
      padding-top: 4rem; }
      @media only screen and (max-width: 58em) {
        .survey__charts-4 {
          grid-row: 4 / 5;
          padding: 8rem 0 8rem; } }
      .survey__charts-4 > img {
        max-width: 100%; }
        @media only screen and (max-width: 58em) {
          .survey__charts-4 > img {
            max-width: 70%; } }

.stories {
  padding-top: 4rem;
  display: grid;
  grid-column: 1 / -1;
  padding-bottom: 8rem; }
  .stories__h4 {
    margin-bottom: 4rem; }
  .stories__table {
    border-collapse: collapse;
    margin: 0 auto; }
    .stories__table > table, .stories__table th, .stories__table td {
      border: 1px solid #bac5cc;
      padding: 1rem; }
    .stories__table-head {
      background: #91d3c1;
      color: #fff; }

.persona {
  display: grid;
  background: #eef2f3;
  grid-column: 1 / -1;
  padding-top: 4rem;
  padding-bottom: 8rem; }
  .persona__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem; }
    @media only screen and (max-width: 58em) {
      .persona__wrapper {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 4rem;
        padding: 0 4rem 0 4rem; } }
    .persona__wrapper-img1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 100%; }
      @media only screen and (max-width: 58em) {
        .persona__wrapper-img1 {
          grid-column: 1 / -1;
          grid-row: 1 / 2;
          margin-top: 4rem; } }
    .persona__wrapper-img2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      width: 100%; }
      @media only screen and (max-width: 58em) {
        .persona__wrapper-img2 {
          grid-column: 1 / -1;
          grid-row: 2 / 3; } }
    .persona__wrapper-img3 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: 100%; }
      @media only screen and (max-width: 58em) {
        .persona__wrapper-img3 {
          grid-column: 1 / -1;
          grid-row: 3 / 4; } }
    .persona__wrapper-img4 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      width: 100%; }
      @media only screen and (max-width: 58em) {
        .persona__wrapper-img4 {
          grid-column: 1 / -1;
          grid-row: 4 / 5; } }

.ia {
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: grid;
  grid-column: 1 / -1; }
  .ia__wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 4rem;
    margin-bottom: 4rem; }
    .ia__wrapper > p {
      grid-column: 2 / 3; }
      .ia__wrapper > p > a {
        color: #ff2956; }
    .ia__wrapper > img {
      grid-column: 2 / 3;
      width: 100%;
      margin-top: 4rem; }
  .ia__flow {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto;
    justify-items: center; }
    .ia__flow-1 {
      margin-bottom: 4rem;
      grid-column: 2 / 3;
      width: 90%; }
    .ia__flow-3 {
      grid-column: 2 / 3;
      width: 110%;
      margin-bottom: 4rem; }

.branding {
  margin: 8rem 0 8rem 0;
  display: grid;
  grid-column: 1 / -1; }
  .branding__p {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 4rem;
    margin-bottom: 4rem; }
    .branding__p > p {
      grid-column: 2 / 3;
      margin-bottom: 4rem; }
      .branding__p > p > a {
        color: #ff2956; }
    .branding__p > img {
      grid-column: 2 /3;
      width: 100%;
      transform: rotate(180deg); }
  .branding__intro {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin: 8rem 0 4rem 0; }
    .branding__intro > p {
      grid-column: 2 / 3;
      line-height: 3.2rem; }
  .branding__iwool {
    font-family: 'Cormorant Upright', serif;
    font-size: 3.2rem;
    color: #E29F4C; }
  .branding__inspiration {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    margin-bottom: 4rem; }
    .branding__inspiration-p {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      font-size: 1.6rem; }
    .branding__inspiration-template {
      display: grid;
      grid-column: 2 / 3; }
      .branding__inspiration-template-outline {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 1rem; }
        @media only screen and (max-width: 38em) {
          .branding__inspiration-template-outline {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(8, 1fr); } }
        .branding__inspiration-template-outline-img3 {
          grid-column: 1 / 5;
          grid-row: 1 / 3;
          width: 100%; }
          @media only screen and (max-width: 38em) {
            .branding__inspiration-template-outline-img3 {
              grid-column: 1 / -1;
              grid-row: 1 / 3; } }
        .branding__inspiration-template-outline-1 {
          grid-column: 7 / -1;
          grid-row: 1 / 3;
          background: #e29f4c;
          color: #fff;
          display: table;
          font-family: "Arial";
          font-size: 1.2rem;
          width: 100%;
          height: 100%; }
          @media only screen and (max-width: 38em) {
            .branding__inspiration-template-outline-1 {
              grid-column: 3 / 5;
              grid-row: 5 / 7; } }
          .branding__inspiration-template-outline-1 > p {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            font-size: 1.6rem; }
        .branding__inspiration-template-outline-2 {
          grid-column: 7 / -1;
          grid-row: 3 / 5;
          background: #f0f0f0;
          color: #4a4a4a;
          display: table;
          font-family: "Arial";
          font-size: 1.2rem;
          width: 100%;
          height: 100%; }
          @media only screen and (max-width: 38em) {
            .branding__inspiration-template-outline-2 {
              grid-column: 3 / 5;
              grid-row: 7 / 9; } }
        .branding__inspiration-template-outline-3 {
          grid-column: 5 / 7;
          grid-row: 3 / 5;
          background: #2e464f;
          color: #fff;
          display: table;
          font-family: "Arial";
          font-size: 1.2rem;
          width: 100%;
          height: 100%; }
          @media only screen and (max-width: 38em) {
            .branding__inspiration-template-outline-3 {
              grid-column: 1 / 3;
              grid-row: 7 / 9; } }
        .branding__inspiration-template-outline-5 {
          grid-column: 3 / 5;
          grid-row: 3 / 5;
          background: #ffffff;
          color: #4a4a4a;
          display: table;
          font-family: "Arial";
          font-size: 1.2rem;
          width: 100%;
          height: 100%; }
          @media only screen and (max-width: 38em) {
            .branding__inspiration-template-outline-5 {
              grid-column: 3 / 5;
              grid-row: 3 / 5; } }
        .branding__inspiration-template-outline-4 {
          grid-column: 1 / 3;
          grid-row: 3 / 5;
          background: #4a4a4a;
          color: #fff;
          display: table;
          font-family: "Arial";
          font-size: 1.2rem;
          width: 100%;
          height: 100%; }
          @media only screen and (max-width: 38em) {
            .branding__inspiration-template-outline-4 {
              grid-column: 1 / 3;
              grid-row: 3 / 5; } }
        .branding__inspiration-template-outline-7 {
          grid-column: 5 / 7;
          grid-row: 1 / 3;
          background: #91d3c1;
          color: #fff;
          display: table;
          font-family: "Arial";
          font-size: 1.2rem;
          width: 100%;
          height: 100%; }
          @media only screen and (max-width: 38em) {
            .branding__inspiration-template-outline-7 {
              grid-column: 1 / 3;
              grid-row: 5 / 7; } }

.logo {
  grid-column: 1 / -1; }
  .logo__primary {
    margin: 8rem 0 8rem 0;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    align-items: center;
    justify-items: center; }
    .logo__primary-1 {
      display: grid;
      grid-column: 2 / 3;
      width: 70%;
      justify-self: left; }
    .logo__primary-2 {
      display: grid;
      grid-column: 3 / 4;
      width: 100%; }
  .logo__alternate {
    margin: 8rem 0 8rem 0;
    display: grid;
    grid-template-columns: 1fr repeat(3, 3fr) 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-gap: 2.4rem; }
    .logo__alternate-1 {
      display: grid;
      grid-column: 2 / 3;
      width: 75%; }
    .logo__alternate-2 {
      display: grid;
      grid-column: 3 / 4;
      width: 100%; }
    .logo__alternate-3 {
      display: grid;
      grid-column: 4 / 5;
      width: 100%; }
  .logo__grid {
    margin: 8rem 0 8rem 0;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    justify-items: center; }
    @media only screen and (max-width: 44em) {
      .logo__grid {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr; } }
    .logo__grid-1 {
      display: grid;
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
      @media only screen and (max-width: 44em) {
        .logo__grid-1 {
          grid-row: 2 / 3;
          grid-column: 1 / -1;
          margin: 0 auto;
          width: 70%; } }
      @media only screen and (min-width: 75em) {
        .logo__grid-1 {
          width: 100%; } }
    .logo__grid-2 {
      display: grid;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-self: end; }
      @media only screen and (max-width: 44em) {
        .logo__grid-2 {
          grid-row: 1 / 2;
          grid-column: 1 / -1;
          margin: 0 auto;
          width: 50%;
          margin-bottom: 8rem; } }
      @media only screen and (min-width: 75em) {
        .logo__grid-2 {
          width: 30%; } }

.typography {
  grid-column: 1 / -1; }
  .typography__wrapper {
    margin: 4rem 0 4rem 0;
    display: grid;
    grid-template-columns: .5fr 3fr 3fr .5fr; }
    @media only screen and (max-width: 54em) {
      .typography__wrapper {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr; } }
    .typography__wrapper-cormorant {
      grid-column: 2 / 3;
      text-align: center;
      padding: 2rem;
      font-family: "Cormorant Upright";
      font-weight: 100;
      font-size: 2.4rem; }
      @media only screen and (max-width: 54em) {
        .typography__wrapper-cormorant {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
          min-width: 310px; } }
      .typography__wrapper-cormorant > h3 {
        font-weight: 100; }
    .typography__wrapper-raleway {
      grid-column: 3 / 4;
      text-align: center;
      padding: 2rem;
      font-family: "Raleway";
      font-weight: 100;
      font-size: 2.4rem; }
      @media only screen and (max-width: 54em) {
        .typography__wrapper-raleway {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          min-width: 310px; } }
      .typography__wrapper-raleway > h3 {
        font-weight: 100; }

.testing {
  grid-column: 1 / -1; }
  .testing__p {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 4rem;
    grid-template-rows: auto;
    margin-bottom: 4rem; }
    .testing__p-1 {
      width: 100%;
      grid-row: 2 / 3;
      grid-column: 2 / 3; }
    .testing__p-2 {
      width: 100%;
      grid-row: 3 / 4;
      grid-column: 2 / 3; }
    .testing__p-3 {
      margin-top: 4rem;
      grid-row: 4 / 5;
      grid-column: 2 / 3;
      width: 100%; }
    .testing__p > p {
      grid-column: 2 / 3;
      margin-bottom: 4rem; }

.responsive {
  background: #eef2f3;
  padding: 4rem 0 8rem 0;
  grid-column: 1 / -1; }
  .responsive__wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; }
    .responsive__wrapper > p {
      padding-top: 4rem;
      grid-column: 2 / 3; }
      .responsive__wrapper > p > a {
        color: #ff2956; }
    .responsive__wrapper > video {
      margin-top: 4rem;
      grid-column: 2 / 3;
      width: 50%;
      justify-self: center;
      border: 4px solid #2E464F; }

sup {
  font-size: 8px; }

td {
  vertical-align: middle; }

.sources {
  grid-column: 1 / -1;
  background: #eef2f3;
  padding-bottom: 4rem; }
  .sources__ul {
    font-size: 1.2rem;
    color: #bac5cc;
    list-style: none;
    margin-left: 2.4rem; }

.container {
  display: grid;
  grid-template-rows: repeat(8, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
  padding: 0; }
  .container .project1 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 3fr minmax(30rem, 1fr);
    align-items: center;
    padding: 4rem;
    max-width: 90rem;
    margin: 0 auto;
    overflow: hidden; }
    @media only screen and (min-width: 75em) {
      .container .project1 {
        grid-template-columns: 3fr minmax(40rem, 1fr); } }
    @media only screen and (max-width: 54em) {
      .container .project1 {
        grid-template-columns: 3fr minmax(24rem, 1fr);
        padding-left: 0; } }
    @media only screen and (max-width: 38em) {
      .container .project1 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 4rem; } }
    .container .project1__btn {
      margin-top: 2.4rem; }
      @media only screen and (max-width: 38em) {
        .container .project1__btn {
          margin-top: 1.6rem;
          margin-bottom: 1.6rem; } }
    .container .project1__img {
      max-width: 90%; }
      @media only screen and (min-width: 58em) {
        .container .project1__img {
          max-width: 80%; } }
      @media only screen and (min-width: 75em) {
        .container .project1__img {
          max-width: 80%; } }
      @media only screen and (min-width: 78em) {
        .container .project1__img {
          max-width: 600px; } }
    .container .project1__content {
      width: 25rem; }
      @media only screen and (max-width: 75em) {
        .container .project1__content {
          margin-right: 3rem; } }
      @media only screen and (max-width: 38em) {
        .container .project1__content {
          text-align: center;
          align-self: center;
          width: 25rem;
          margin: 0 auto;
          grid-row: 1 / span 1; } }
  .container .project2 {
    grid-column: 1 / -1;
    background: linear-gradient(to right bottom, #bac5cc, #eef2f3); }
    .container .project2__wrapper {
      display: grid;
      grid-template-columns: 1fr 3fr;
      align-items: center;
      padding: 4rem;
      max-width: 90rem;
      margin: 0 auto;
      overflow: hidden; }
      @media only screen and (max-width: 38em) {
        .container .project2__wrapper {
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr;
          justify-content: center;
          padding: 4rem; } }
    .container .project2__img {
      max-width: 90%; }
      @media only screen and (min-width: 58em) {
        .container .project2__img {
          max-width: 80%; } }
      @media only screen and (min-width: 75em) {
        .container .project2__img {
          max-width: 80%; } }
      @media only screen and (min-width: 78em) {
        .container .project2__img {
          max-width: 550px; } }
    @media only screen and (max-width: 54em) {
      .container .project2 {
        grid-template-columns: minmax(24rem, 1fr) 3fr;
        padding: 2rem; } }
    @media only screen and (max-width: 38em) {
      .container .project2 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 4rem; } }
    .container .project2__content {
      margin-left: 5rem;
      width: 35rem; }
      @media only screen and (max-width: 75em) {
        .container .project2__content {
          margin-left: 3rem; } }
      @media only screen and (max-width: 54em) {
        .container .project2__content {
          max-width: 30rem;
          margin-left: 0; } }
      @media only screen and (max-width: 38em) {
        .container .project2__content {
          text-align: center;
          align-self: center;
          width: 27rem;
          margin: 0 auto;
          grid-row: 1 / span 1; } }
    .container .project2__btn {
      margin-top: 2.4rem; }
      @media only screen and (max-width: 38em) {
        .container .project2__btn {
          margin-top: 1.6rem;
          margin-bottom: 1.6rem; } }
  .container .footer {
    grid-column: 1 / -1;
    height: 10rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem; }
    .container .footer__nav {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      height: 100%;
      max-width: 50rem;
      margin: 0 auto; }
      .container .footer__nav > li {
        margin-top: 2rem;
        list-style: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1.6rem;
        text-decoration: none;
        /*&:not(first-child) {
        margin-left: 4rem;
      } */ }
        @media only screen and (max-width: 38em) {
          .container .footer__nav > li {
            font-size: 1.4rem;
            /*margin-right: 2rem;
        &:not(:first-child) {
          margin-left: 2rem;
        } */ } }
        .container .footer__nav > li > a {
          text-decoration: none;
          color: rgba(74, 74, 74, 0.5);
          display: inline-block;
          transition: all 0.2s; }
          .container .footer__nav > li > a:hover {
            transform: translateY(-0.3rem);
            text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            color: #ff2956; }
          .container .footer__nav > li > a:active {
            transform: translateY(-0.1rem);
            text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .container .work-together {
    display: grid;
    grid-column: 1 / -1; }
    .container .work-together__h2 {
      margin: 8rem auto 2rem auto;
      font-family: 'shrikhand', cursive;
      color: rgba(74, 74, 74, 0.5); }
    .container .work-together__btn {
      margin: 0 auto 4rem auto; }

@supports (display: grid) {
  .quote2:before,
  .quote2:after {
    content: " ";
    align-self: center;
    border-top: 2px solid #f76400; } }

.paycrave {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  padding: 4rem; }
  .paycrave__img {
    grid-row: 1 /2;
    width: 70%;
    margin: 0 auto;
    object-fit: cover; }
  .paycrave__content {
    justify-self: end; }
    @media only screen and (max-width: 38em) {
      .paycrave__content {
        justify-self: center;
        margin-top: 4rem; } }

.problem2 {
  grid-column: 1 / -1; }
  @media only screen and (max-width: 38em) {
    .problem2 {
      padding-top: 2rem; } }
  .problem2__img {
    width: 8.8rem; }
  .problem2__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    padding-top: 4rem; }
  .problem2__quote {
    grid-column: 2 / 3;
    text-align: center;
    font-size: 2.4rem;
    color: #f76400;
    font-weight: bold;
    padding: 2rem;
    max-width: 45rem;
    margin: 0 auto; }
  .problem2__quote:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 2px solid #f76400;
    padding-top: 2rem; }
  .problem2__source {
    font-size: 1.2rem;
    color: #bac5cc; }
  .problem2__qmark {
    font-size: 3.2rem;
    font-family: 'Coiny', cursive;
    color: #f76400; }
  .problem2__p {
    display: grid;
    grid-column: 2 / 3; }
  .problem2__ul {
    grid-column: 2 / 3;
    padding: 4rem 0 2.4rem 0;
    list-style: none;
    white-space: nowrap; }
    .problem2__ul > li {
      margin: 0 0 1.6rem 0; }
    .problem2__ul > li::before {
      content: "\2022";
      color: #f76400;
      display: inline-block;
      width: 4rem;
      text-align: center; }

.solution2 {
  margin-top: 4rem;
  grid-column: 1 / -1; }
  .solution2__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; }
    .solution2__wrapper > p {
      display: grid;
      grid-column: 2 / 3;
      margin: 4rem 0 4rem 0; }

.survey2 {
  display: grid;
  margin-top: 8rem;
  grid-column: 1 / -1; }
  .survey2__p {
    margin: 4rem 0 4rem 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; }
    .survey2__p > p {
      grid-column: 2 / 3; }
  .survey2__charts {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
    padding: 0;
    justify-items: center; }
    .survey2__charts > img {
      grid-column: 2 / 3;
      width: 100%; }

.stories2 {
  padding-top: 4rem;
  display: grid;
  grid-column: 1 / -1;
  padding-bottom: 8rem; }
  .stories2__h4 {
    margin-bottom: 4rem; }
  .stories2__table {
    border-collapse: collapse;
    margin: 0 auto; }
    .stories2__table > table, .stories2__table th, .stories2__table td {
      border: 1px solid #bac5cc;
      padding: 1rem; }
    .stories2__table-head {
      background: #f76400;
      color: #fff; }

.ia2 {
  background: #eef2f3;
  margin-top: 8rem;
  display: grid;
  grid-column: 1 / -1;
  padding: 8rem 0 8rem 0; }
  .ia2__wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 4rem;
    margin-bottom: 4rem; }
    .ia2__wrapper > p {
      grid-column: 2 / 3; }
      .ia2__wrapper > p > a {
        color: #ff2956; }
    .ia2__wrapper > img {
      grid-column: 2 / 3;
      width: 100%;
      margin-top: 4rem; }
  .ia2__wireframes {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    justify-items: center; }
    @media only screen and (max-width: 38em) {
      .ia2__wireframes {
        grid-template-columns: 1fr;
        grid-gap: 8rem; } }
    .ia2__wireframes-1 {
      grid-column: 2 / 3; }
      @media only screen and (max-width: 38em) {
        .ia2__wireframes-1 {
          grid-column: 1 / 2; } }
    .ia2__wireframes-2 {
      grid-column: 3 / 4; }
      @media only screen and (max-width: 38em) {
        .ia2__wireframes-2 {
          grid-column: 1 / 2; } }
  .ia2__flow {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto;
    justify-items: center; }
    .ia2__flow-1 {
      margin-bottom: 4rem;
      grid-column: 2 / 3;
      width: 90%; }
    .ia2__flow-3 {
      grid-column: 2 / 3;
      width: 110%;
      margin-bottom: 4rem; }

.branding2 {
  margin: 8rem 0 8rem 0;
  display: grid;
  grid-column: 1 / -1; }
  .branding2__p {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 4rem;
    margin-bottom: 4rem; }
    .branding2__p > p {
      grid-column: 2 / 3;
      margin-bottom: 4rem; }
  .branding2__inspiration {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    margin-bottom: 4rem; }
    .branding2__inspiration-p {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      font-size: 1.6rem; }
    .branding2__inspiration-template {
      display: grid;
      grid-column: 2 / 3; }
      .branding2__inspiration-template-outline {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 1rem; }
        @media only screen and (max-width: 58em) {
          .branding2__inspiration-template-outline {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(8, 1fr); } }
        .branding2__inspiration-template-outline-img3 {
          grid-column: 1 / 5;
          grid-row: 1 / 3;
          width: 100%; }
          @media only screen and (max-width: 58em) {
            .branding2__inspiration-template-outline-img3 {
              grid-column: 1 / -1;
              grid-row: 1 / 3; } }
        .branding2__inspiration-template-outline-1 {
          grid-column: 7 / -1;
          grid-row: 1 / 3;
          background: #f76400;
          color: #fff;
          display: table;
          font-family: "Arial";
          font-size: 1.2rem;
          width: 100%;
          height: 100%; }
          @media only screen and (max-width: 58em) {
            .branding2__inspiration-template-outline-1 {
              grid-column: 3 / 5;
              grid-row: 5 / 7; } }
          .branding2__inspiration-template-outline-1 > p {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            font-size: 1.6rem; }
        .branding2__inspiration-template-outline-2 {
          grid-column: 7 / -1;
          grid-row: 3 / 5;
          background: #eaeaea;
          color: #4a4a4a;
          display: table;
          font-family: "Arial";
          font-size: 1.2rem;
          width: 100%;
          height: 100%; }
          @media only screen and (max-width: 58em) {
            .branding2__inspiration-template-outline-2 {
              grid-column: 3 / 5;
              grid-row: 7 / 9; } }
        .branding2__inspiration-template-outline-3 {
          grid-column: 5 / 7;
          grid-row: 3 / 5;
          background: #ff8128;
          color: #fff;
          display: table;
          font-family: "Arial";
          font-size: 1.2rem;
          width: 100%;
          height: 100%; }
          @media only screen and (max-width: 58em) {
            .branding2__inspiration-template-outline-3 {
              grid-column: 1 / 3;
              grid-row: 7 / 9; } }
        .branding2__inspiration-template-outline-5 {
          grid-column: 3 / 5;
          grid-row: 3 / 5;
          background: #ffffff;
          color: #4a4a4a;
          display: table;
          font-family: "Arial";
          font-size: 1.2rem;
          width: 100%;
          height: 100%; }
          @media only screen and (max-width: 58em) {
            .branding2__inspiration-template-outline-5 {
              grid-column: 3 / 5;
              grid-row: 3 / 5; } }
        .branding2__inspiration-template-outline-4 {
          grid-column: 1 / 3;
          grid-row: 3 / 5;
          background: #4a4a4a;
          color: #fff;
          display: table;
          font-family: "Arial";
          font-size: 1.2rem;
          width: 100%;
          height: 100%; }
          @media only screen and (max-width: 58em) {
            .branding2__inspiration-template-outline-4 {
              grid-column: 1 / 3;
              grid-row: 3 / 5; } }
        .branding2__inspiration-template-outline-7 {
          grid-column: 5 / 7;
          grid-row: 1 / 3;
          background: #2cc36b;
          color: #fff;
          display: table;
          font-family: "Arial";
          font-size: 1.2rem;
          width: 100%;
          height: 100%; }
          @media only screen and (max-width: 58em) {
            .branding2__inspiration-template-outline-7 {
              grid-column: 1 / 3;
              grid-row: 5 / 7; } }

/*==================================================*/
.testing2 {
  grid-column: 1 / -1; }
  .testing2__p {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 4rem;
    grid-template-rows: auto;
    margin-bottom: 4rem;
    justify-items: center; }
    .testing2__p > p {
      grid-column: 2 / 3;
      margin-bottom: 4rem; }
  .testing2-1 {
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: start; }
    @media only screen and (min-width: 75em) {
      .testing2-1 {
        width: 80%; } }
  .testing2-2 {
    width: 100%;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: end; }
    @media only screen and (min-width: 75em) {
      .testing2-2 {
        width: 80%; } }
  .testing2-3 {
    margin-top: 4rem;
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    width: 100%;
    justify-self: start; }
    @media only screen and (min-width: 75em) {
      .testing2-3 {
        width: 80%; } }
  .testing2-4 {
    margin: 0 0 8rem 0;
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    width: 100%;
    justify-self: end; }
    @media only screen and (min-width: 75em) {
      .testing2-4 {
        width: 80%; } }
  .testing2-5 {
    margin: 4rem 0 8rem 0;
    grid-row: 7 / 8;
    grid-column: 2 / 3;
    width: 100%; }
  .testing2-6 {
    margin: 4rem 0 8rem 0;
    grid-row: 9 / 10;
    grid-column: 2 / 3;
    width: 100%; }
  .testing2-7 {
    margin: 4rem 0 8rem 0;
    grid-row: 11 / 12;
    grid-column: 2 / 3;
    width: 100%; }

#paycrave-border {
  border: 4px solid #fff; }
