@mixin clearfix {
  &::after {
    content:"";
    display: table;
    clear: both;
  }
}

@mixin grid-setting-1 {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
}

@mixin center-text {
  display: table;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        width: 100%;
        height: 100%;
}


/*/$breakpoint argument choices
-xsmall 400
-small 700
-med 860
-lrg 930
-xlrg 1200

*/
@mixin respond($breakpoint) {
 
  @if $breakpoint == xsmall {
   @media (max-width: 25em) { @content}; //400px /16 = 25
  }
  @if $breakpoint == small {
    @media (max-width: 44em) { @content}; //700 /16
  }
  @if $breakpoint == med {
    @media (max-width: 54em) { @content}; //860
  }
  @if $breakpoint == lrg {
    @media (max-width: 58em) { @content}; //930
  }
  @if $breakpoint == xlrg {
    @media (min-width: 75em) { @content}; //1200
  }

}