//COLORS

$color-accent: #ff2956;
$color-accent-light: #ff6989;
$color-accent-dark: #cc2044;
$color-white: #fff;
$color-text: #4a4a4a;
$color-text-secondary: rgba(74, 74, 74, .5);
$color-text-hint: rgba(74, 74, 74, .25);
$color-gray-dark: #bac5cc;
$color-gray-light: #eef2f3;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 0rem; //was 6 rem