.footer {
  grid-column: 1 / -1;
  height: 10rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  //display: flex;

  &__nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 100%;
    

    > li {
     // margin-right: 3rem;
      margin-top: 2rem;
      list-style: none;
      font-family: 'Open Sans', sans-serif;

      text-transform: uppercase;
      font-size: 1.6rem;
      text-decoration: none;

      /*&:not(first-child) {
        margin-left: 4rem;
      } */

      @media only screen and (max-width: $bp-mobile) {
        font-size: 1.4rem;
        /*margin-right: 2rem;
        &:not(:first-child) {
          margin-left: 2rem;
        } */
      }

      > a {
        text-decoration: none;
        color: $color-text-secondary;
        display: inline-block;
        transition: all 0.2s;

        &:hover {
          transform: translateY(-0.3rem);
          text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          color: $color-accent;
        }

        &:active {
          transform: translateY(-0.1rem);
          text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}