.header {
  //height: 90vh;
  background: linear-gradient( to right bottom, $color-gray-dark, $color-gray-light);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  grid-column: 1 / -1;
  @media only screen and (max-width: $bp-mobile) {
    -webkit-clip-path: none;
    clip-path: none;
    padding-bottom: 8rem;
  }
  @media only screen and (max-width: $bp-sm-mobile) {
    -webkit-clip-path: none;
    clip-path: none;
  }
  
  &#case1 {
    background: $color-indiewool;
  }


  &__nav {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
    @media only screen and (max-width: $bp-medium2) {
      justify-content: space-around;
    }
    @media only screen and (max-width: $bp-mobile) {
      justify-content: space-around;
      padding: 2rem;
    }
  } 
  
  
  //padding-bottom: 10rem;
  &__navigation {
    display: flex; //justify-content: flex-end;
    flex-direction: row;
    >li {
      //margin-right: 4rem;
      //margin-left: 4rem;
      list-style: none;
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      font-size: 1.6rem;
      text-decoration: none;
      margin-right: 2rem;
      margin-left: 2rem;
      font-size: 1.4rem;
      justify-content: space-around;
      @media only screen and (max-width: $bp-mobile) {
        //margin-right: 3rem;
        //margin-left: 3rem;
        justify-content: space-around;
      }
      @media only screen and (max-width: $bp-sm-mobile) {
        //margin-right: 2rem;
        //margin-left: 2rem;
        font-size: 1.4rem;
        justify-content: space-around;
      }
      >a {
        text-decoration: none;
        color: $color-white;
        display: inline-block;
        transition: all 0.2s;
      }
      >a:hover {
        transform: translateY(-0.3rem);
        text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        color: $color-accent;
      }
      >a:active {
        transform: translateY(-0.1rem);
        text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        color: $color-accent;
      }

      >a.accent {
        color: $color-accent;
      }
      
    }
  }

  

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media only screen and (max-width: $bp-mobile) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
    }
  }
  &__textbox {
    margin-left: 5rem;
    @media only screen and (max-width: $bp-medium2) {
      align-self: baseline;
      margin-top: 4rem;
    }
    @media only screen and (max-width: $bp-mobile) {
      grid-column-start: 3 / span 1;
      text-align: center;
      margin: 0 auto;
    } //min-width: 35rem;
  }
  &__img {
    text-align: center;
    @media only screen and (max-width: $bp-medium) {
      max-width: 90%;
    }
    @media only screen and (max-width: $bp-medium2) {
      max-width: 70%;
    }
    @media only screen and (max-width: $bp-mobile) {
      grid-row-start: 1; //max-width: 50%;
      //border: 1.2rem solid #fff;
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      justify-self: center;
      padding: 0;
      margin: 0;
    }
  }
  /*&__text-box {
    position: relative;
margin-top: 50%;
    left: 15%;
  }

  &__img {
    position: relative;
    bottom: 0;
    right: 0;
  } */
}