

.header {
  //height: 90vh;
  background: linear-gradient(
    to right bottom,
    $color-gray-light,
    $color-gray-dark
  );
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  grid-column: 1 / -1;
  @media only screen and (max-width: $bp-mobile) {
    -webkit-clip-path: none;
    clip-path: none;
    // padding-bottom: 4rem;
  }
  @media only screen and (max-width: $bp-sm-mobile) {
    -webkit-clip-path: none;
    clip-path: none;
  }

  &#case1 {
    background: $color-indiewool;
    -webkit-clip-path: none;
    clip-path: none;
    
    grid-column: 1 / -1;
  }

  &#case2 {
    background: linear-gradient(
      to right bottom,
      $color-orange-light,
      $color-orange-dark
    );
    -webkit-clip-path: none;
    clip-path: none;
  }
  &#case3 {
    height: 70vh;
    background: linear-gradient(
      to right bottom,
      $color-gray-light,
      $color-gray-dark
    );
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    grid-column: 1 / -1;
    //  background: none;
    //   -webkit-clip-path: none;
    //   clip-path: none;
  }

  // &__heart {
  //   display: inline-block;
  //   vertical-align: middle;
  //   width: 2.4rem;
  // }

  &__nav {
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    @media only screen and (max-width: $bp-medium2) {
      justify-content: space-around;
    }
    @media only screen and (max-width: $bp-mobile) {
      justify-content: space-around;
      // padding: 2rem;
    }
    padding-bottom: 4rem;
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    > li {
      list-style: none;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 500;
      text-decoration: none;
      margin-right: 2rem;
      margin-left: 2rem;
      font-size: 1.4rem;
      justify-content: space-around;
      @media only screen and (max-width: $bp-mobile) {
        justify-content: space-around;
      }
      @media only screen and (max-width: $bp-sm-mobile) {
        font-size: 1.4rem;
        justify-content: space-around;
      }
      > a {
        text-decoration: none;
        color: $color-white;
        display: inline-block;
        transition: all 0.2s;
      }
      > a:hover {
        transform: translateY(-0.3rem);
        text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        color: $color-accent;
      }
      > a:active {
        transform: translateY(-0.1rem);
        text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        color: $color-accent;
      }

      > a.accent {
        color: $color-accent;
      }

      > a.dark {
        color: $color-gray-dark;
      }
      > a.dark:hover {
        color: $color-accent;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 24rem;
    @media only screen and (max-width: $bp-mobile) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      margin-bottom: 8rem;
    }

    &#about {
      max-width: 120rem;
      margin: 0 auto;
    }
  }
  &__textbox {
    @media only screen and (max-width: $bp-medium2) {
      align-self: baseline;
      margin-top: 4rem;
    }
    @media only screen and (max-width: $bp-mobile) {
      grid-column-start: 3 / span 1;
      text-align: left;
      // margin: 0 auto 4rem auto;
      margin-bottom:4rem;
      padding-left: 10vw;
    } //min-width: 35rem;

    >h1:nth-child(4) {
      line-height: 0;
      margin-top: -.7rem;
      @media only screen and (max-width: $bp-mobile) {
        margin-top: -.5rem;
      }
    }
  }
  



  &__img {
    text-align: center;

    @media only screen and (max-width: $bp-mobile) {
      grid-row-start: 1;
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      justify-self: center;
      padding: 0;
      margin: 0;
    }

    @media only screen and (min-width: $bp-medium2) {
      //=> 860?
      max-width: 70%;
    }
    @media only screen and (min-width: $bp-largest) {
      //=> 1200?
      max-width: 70%;
    }
    @media only screen and (max-width: $bp-medium) {
      //=< 930?
      max-width: 70%;
    }
  }
}
