.title {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: 'butler', Montserrat, sans-serif;
  grid-gap: 2rem;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0 2rem;
  @media only screen and (max-width: $bp-sm-mobile) {
    margin: 0;
  }
  
}

#quotation {
  margin:0;
  
}


