
//RESPONSIVE BREAKPOINTS
$bp-largest: 75em;  //1200px (1200/16 = 75em )
$bp-medium: 58em; //approx 930
$bp-medium2: 54em;//make one for 860
$bp-small: 44em; //approx 700
$bp-mobile: 38em; // approx 600

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*set root font-size in html
if user changes default font size they need percentages
divide what you want by (10px)  ---> 10/16 = 625*

order of media queries --> base +typography, layout + grid, components

*/



html {
  font-size: 62.5%;
} 

.container {
  @media only screen and (max-width: $bp-mobile) {
    padding: 0;
    }
}

//1rem=10px  10/16=62.5

  
/*
  @include respond(xsmall) {
    font-size: 50%;
  }

  @include respond(small) {
    font-size: 60%;
  }

  @include respond(med) {
    font-size: 70%;
  }

  @include respond(lrg) {
    font-size: 80%;
  }

  @include respond(xlrg) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
} */

