

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 1.5;
  color: $color-text;
  padding: 3rem;
  
}


.heading-primary {
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;

  &--main {
    color: $color-white;
    font-family: 'shrikhand', cursive;
//font-family: 'Abril Fatface', cursive;
    font-size: 4.8rem;
    font-weight: 400;

    @media only screen and (max-width: $bp-medium2) {
      font-size: 3.5rem;
    }

    @media only screen and (max-width: $bp-mobile) {
      font-size: 3.2rem;
    }
   
    /*backface-visibility: hidden; */
  }
  
  &--sub {
    font-size: 2.4rem;
    color: $color-text;
    font-weight: 100;
    line-height: 3rem;
    animation: moveInRight 2s ease-out;

    @media only screen and (max-width: $bp-medium) {
      
      display: block;
     }

    @media only screen and (max-width: $bp-medium2) {
     font-size: 2rem;
     display: block;
    }

    @media only screen and (max-width: $bp-mobile) {
      font-size: 1.8rem;
    }
  }
  
}

.heading-secondary {
  font-size: 3.2rem;
  font-family: 'shrikhand', cursive;
  //font-family: 'Abril Fatface', cursive;
  color: $color-white;
  font-weight: 400;
}

.heading-secondary-dark {
  font-size: 3.2rem;
  font-family: 'shrikhand', cursive;
  //font-family: 'Abril Fatface', cursive;
  color: $color-text-secondary;
  font-weight: 400;
}

.h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: .8rem;
}