@supports (display: grid) {
  .title:before,
  .title:after {
    content: " ";
    align-self: center;
    border-top: 1px solid $color-gray-dark;
  }

  .quote:before,
  .quote:after {
    content: " ";
    align-self: center;
    border-top: 2px solid $color-text;
  }
}

p {
  line-height: 1.5;
}
.indie {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  padding: 4rem;

  &__img {
    grid-row: 1 /2;
    max-width: 90%;
    margin: 0 auto;
  }

  &__content {
    grid-row: 2/3;
    margin-top: 4rem;
    margin-bottom: 4rem;
    @media only screen and (max-width: $bp-mobile) {
      margin-bottom: 0;
    }
  }
}

//ROLES SECTION========================
.roles {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media only screen and (max-width: $bp-mobile) {
    grid-template-columns: 1fr;
    grid-rows: repeat(3, 1fr);
    justify-items: left;
    grid-gap: 2rem;
    margin: 0;
  }

  background: $color-gray-light;
  // margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  padding: 4rem;
  justify-items: left;
  &__1 {
    grid-column: 1 / 2;

    > h4 {
      text-align: left;
    }

    > ul {
      text-align: left;
    }
    margin: 0 auto;
    @media only screen and (max-width: $bp-mobile) {
      margin: 0;
    }
  }

  &__2 {
    grid-column: 2 / 3;
    > h4 {
      text-align: left;
    }

    > ul {
      text-align: left;
    }

    margin: 0 auto;
    @media only screen and (max-width: $bp-mobile) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin: 0;
      > h4,
      > ul {
        text-align: left;
      }
    }
  }

  &__3 {
    grid-column: 3 / 4;
    @media only screen and (max-width: $bp-mobile) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      margin: 0;
      > h4,
      > ul {
        text-align: left;
      }
    }
    > h4 {
      text-align: left;
    }

    > ul {
      text-align: left;
    }
    margin: 0 auto;
  }

  &__list {
    list-style: none;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
//PROBLEMS SECTION========================
.problem {
  grid-column: 1 / -1;
  @media only screen and (max-width: $bp-mobile) {
    padding-top: 2rem;
  }

  &__data {
    line-height: 1.2;
    min-width: 150px;
    @media only screen and (max-width: $bp-mobile) {
      font-size: 1.4rem;
    }
  }

  &__img {
    width: 8.8rem;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-rows: min-content auto;
    //text-align: center;
  }

  &__quote {
    grid-column: 2 / 3;
    text-align: center;
    font-size: 2.4rem;
    color: $color-indiewool;
    font-weight: bold;
    padding: 4rem;
    min-width: 35rem;
    max-width: 50rem;
    margin: 0 auto;

    &#paycravequote {
      color: $color-orange-dark;
    }
  }

  &__quote:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 2px solid $color-text;
    padding-top: 2rem;

  
  }

  &__source {
    font-size: 1.2rem;
    color: $color-gray-dark;
  }

  &__qmark {
    font-size: 3.2rem;
    font-family: "Coiny", cursive;
    color: $color-indiewool;
    &#paycraveqmark {
      color: $color-orange-dark;
    }
  }

  &__p {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    &-1 {
      line-height: 1.5;
      grid-column: 2 / 3;
      margin-top: 4rem;
    }
  }

  &__table {
    display: grid;
    margin-top: 4rem;
    grid-template-columns: 1fr 6fr 1fr;

    //  margin: 0 auto;
    vertical-align: middle;

    &-wrapper {
      grid-column: 2 / 3;

      > table {
        border-spacing: 16px;
      }
    }
    //
    &-right {
      text-align: right;
      // padding-right: 2px;
    }
  }

  &__figures {
    font-family: "shrikhand", cursive;
    color: $color-indiewool;
    font-weight: bold;
    font-size: 4rem;
    // text-align: right;
    white-space: nowrap;
    @media only screen and (max-width: $bp-medium) {
      font-size: 2.5rem;
    }
  }
}

//COMPARISON SECTION========================
.comparison {
  margin-top: 4rem;
  grid-column: 1 / -1;
  display: grid;


  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr 4fr 1fr;
    }
    

    &-fast {
      display: grid;
      grid-column: 2 / 3;
      margin: 4rem;
      justify-items: center;

      >table {
        grid-column: 1 / 2;
      }
      

      >img {
        margin: 0 auto 2rem auto;
        justify-self: center;
      }

    }

    &-slow {
      display: grid;
      grid-column: 3 / 4;
      @media only screen and (max-width: $bp-medium) {
        grid-column: 2 / 3;
      }
      margin: 4rem;
      justify-items: center;

      >table {
        grid-column: 1 / 2;
      }

      >img {
        margin: 0 auto 2rem auto;
      }

    }
    

  }
 
}
//SOLUTION SECTION========================
.solution {
  //background: $color-indiewool;
  margin: 8rem 0 4rem 0;
  grid-column: 1 / -1;

  &__data {
    line-height: 1.2;
    min-width: 200px;
    @media only screen and (max-width: $bp-mobile) {
      font-size: 1.4rem;
    }
    // min-width: 150px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;

    > p {
      display: grid;
      grid-column: 2 / 3;
      margin-top: 2rem;
    }
  }

  &__table {
    display: table-cell;

    margin: 4rem 0 4rem 0;
    border-spacing: 10px;
    grid-column: 2 / 3;
    //  margin: 0 auto;
    vertical-align: middle;

    &-right {
      text-align: right;
      padding-right: 2px;
    }
  }
}
//SOLUTION SECTION========================
.discovery {
  display: grid;
  background: $color-gray-light;
  grid-column: 1 / -1;
  padding: 4rem 0 4rem 0;

  &__analysis {
    @include grid-setting-1;
    grid-template-rows: 1fr repeat(2, min-content);

    > p {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 4rem 0 4rem 0;
      >a {
        color: $color-accent;
      }
    }
  }

  &__img1 {
    //display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    margin: 0 auto 4rem auto;
  }

  &__img2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 100%;
    margin: 0 auto 4rem auto;
  }
}

//SURVEY SECTION========================
.survey {
  display: grid;
  margin-top: 8rem;
  grid-column: 1 / -1;

  &__p {
    margin: 4rem 0 4rem 0;
    @include grid-setting-1;

    > p {
      grid-column: 2 / 3;
    }
  }

  &__charts {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    

    &-1 {
      display: grid;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin: 0 auto 8rem;
      position: relative;
      width: 60vw;
      @media only screen and (max-width: $bp-medium) {
        width: 80vw;
      }
      @media only screen and (max-width: $bp-mobile) {
        width: 90vw;
      }

      
      }

      &-2 {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 0 auto;
        position: relative;
        width: 60vw;
        @media only screen and (max-width: $bp-medium) {
          width: 80vw;
          
        }
        @media only screen and (max-width: $bp-mobile) {
          width: 90vw;
        }
        }
  
        &-3 {
          display: grid;
          grid-column: 1 / 2;
          grid-row: 3 / 4;
          margin: 0 auto;
          position: relative;
      width: 60vw;
          
          @media only screen and (max-width: $bp-medium) {
            width: 80vw;
          }
          @media only screen and (max-width: $bp-mobile) {
            width: 90vw;
          }
        }
  
        &-4 {
          display: grid;
          grid-column: 1 / 2;
          grid-row: 4 / 5;
          
          margin: 0 auto;
          position: relative;
      width: 60vw;
          padding-top: 4rem;
          @media only screen and (max-width: $bp-medium) {
            width: 80vw;
          }
          @media only screen and (max-width: $bp-mobile) {
            width: 90vw;
          }
          }
    
    }

    
        
      }

//STORIES SECTION========================
.stories {
  padding-top: 4rem;
  display: grid;
  grid-column: 1 / -1;
  padding-bottom: 8rem;

  &__h4 {
    margin-bottom: 4rem;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    @media only screen and (max-width: $bp-medium2) {
      grid-template-columns: 1fr 8fr 1fr;

    }
    
  
    &-table {
      border-collapse: collapse;
      margin: 0 2rem;
      grid-column: 2 / 3;
      margin: 0 auto;
      
  
      > table,
      th,
      td {
        border: 1px solid $color-gray-dark;
        padding: 1rem;
      }
  
      &-head {
        background: $color-gray-light;
        color: $color-text;
      }
    }

  }

  
}
//PERSONAS SECTION========================

.persona {
  display: grid;
  background-color: $color-gray-light;
  grid-column: 1 / -1;
  padding: 4rem 0 16rem 0;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    @media only screen and (max-width: $bp-sm-mobile) {
      grid-template-columns: 1fr 8fr 1fr;

    }
    @media only screen and (max-width: $bp-medium2) {
      grid-template-columns: 1fr 8 1fr;

    }
    
    grid-template-rows: 1fr;
    grid-gap: 4rem;
    @media only screen and (max-width: $bp-medium2) {
        
      grid-gap: 0;
    }
    padding-top: 4rem;
    justify-items: center;
    
    

    &-img {
      grid-column: 1 / 2;
      justify-self: start;
      @media only screen and (max-width: $bp-mobile) {
        
       width: 100%;
      }
    }


    &-p {
      grid-column: 2 / 4;
      @media only screen and (max-width: $bp-mobile) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
      background-color: $color-indiewool;
      color: $color-white;
      padding: 1rem;
     font-size: 2rem;
     font-weight: 200;
    }

    &-info {
      grid-column: 1/ -1;
      grid-row: 2 / 3;
      @media only screen and (max-width: $bp-medium2) {
        
        grid-row: 3 / 4;
      }
      justify-self: start;
      padding-left: 1rem;
      font-weight: 200;
      margin-top: 2rem;
    }

    &-info2 {
      grid-column: 1/ -1;
      grid-row: 3 / 4;
      @media only screen and (max-width: $bp-medium2) {
        
        grid-row: 4 / 5;
      }
      justify-self: start;
      margin-top: 1rem;
      padding-left: 1rem;
      font-weight: 200;
      margin-top: 2rem;

      >ul {
        list-style-type: none;
      }
    }

    &-info3 {
      grid-column: 1/ -1;
      grid-row: 4 / 5;
      @media only screen and (max-width: $bp-medium2) {
        
        grid-row: 5 / 6;
      }
      justify-self: start;
      
      padding-left: 1rem;
      font-weight: 200;
      margin-top: 2rem;

      >ul {
        list-style-type: none;
      }
    }

    &-info4 {
      grid-column: 1/ -1;
      grid-row: 5 / 6;
      @media only screen and (max-width: $bp-medium2) {
        
        grid-row: 6 / 7;
      }
      justify-self: start;
      margin-top: 2rem;
      padding-left: 1rem;
      font-weight: 200;

      >ul {
        list-style-type: none;
      }
    }

    &-brands {
      grid-column: 1 / -1;
      grid-row: 6 / 7;
      @media only screen and (max-width: $bp-medium2) {
        
        grid-row: 7 / 8;
      }
      justify-self: start;
      margin-top: 2rem;
      padding-left: 1rem;

      >div {
       display: flex;
       justify-content: space-between;
       
      align-items: center;
      // justify-content: space-between;
        >img {
          width: 50%;
          @media only screen and (max-width: $bp-small) {
            max-width: 40%;

          }
          @media only screen and (max-width: $bp-mobile) {
            max-width: 20%;

          }
        }

      }
      
     

      
    }

    &-1 {
      display: grid;
      grid-column: 2 / 3;
      // grid-template-columns: repeat(3, 1fr);
      grid-template-columns: min-content 1fr 1fr;
      @media only screen and (max-width: $bp-medium2) {
        grid-template-columns: 1fr;
        width: 100%;
        
      }
      margin-bottom: 8rem;
      justify-items: center;
      background-color: $color-white;
      padding-bottom: 1rem;
      width: 66rem;
      
     
    }

    &-2 {
      display: grid;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      
      grid-template-columns: min-content 1fr 1fr;
      @media only screen and (max-width: $bp-medium2) {
        grid-template-columns: 1fr;
        width: 100%;
      }
      background-color: $color-white;
      padding-bottom: 1rem;
      
      width: 66rem;
     
    }

    &-quote {
      background-color: $color-indiewool;
      color: $color-white;
      grid-column: 2 / 4;
    }
  }
}



// //SOURCES SECTION========================
.ia {
  margin-top: 8rem;
  margin-bottom: 4rem;
  @media only screen and (max-width: $bp-mobile) {
    margin-bottom: 0;
  }
  display: grid;
  grid-column: 1 / -1;

  &__wrapper {
    @include grid-setting-1;
    padding-top: 4rem;
    margin-bottom: 4rem;

    > p {
      grid-column: 2 / 3;
      > a {
        color: $color-accent;
      }
    }

    > img {
      grid-column: 2 / 3;
      width: 100%;
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    &-chart {
      grid-column: 2 / 3;
     margin-top: 4rem;
     position: relative;
     width: 60vw;
     @media only screen and (max-width: $bp-medium) {
      width: 70vw;
    }
    @media only screen and (max-width: $bp-mobile) {
      width: 90vw;
    }

    
    }

    &-img {
      margin-top: 8rem;
    }
  }

  
}
//BRANDING SECTION========================
.branding {
  margin: 8rem 0 8rem 0;
  display: grid;
  grid-column: 1 / -1;

  &__p {
    @include grid-setting-1;
    padding-top: 4rem;
    margin-bottom: 4rem;

    > p {
      grid-column: 2 / 3;
      margin-bottom: 4rem;

      > a {
        color: $color-accent;
      }
    }

    > img {
      grid-column: 2 /3;
      width: 100%;
      transform: rotate(180deg);
    }
  }

  &__intro {
    @include grid-setting-1;
    margin: 8rem 0 4rem 0;

    > p {
      grid-column: 2 / 3;
      line-height: 3.2rem;
    }
  }

  &__iwool {
    font-family: "butler", serif;
    font-size: 3.2rem;
    color: #e29f4c;
  }

  &__inspiration {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    margin-bottom: 4rem;

    &-p {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      font-size: 1.6rem;
    }

    &-template {
      display: grid;
      grid-column: 2 / 3;

      &-outline {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 1rem;
        @media only screen and (max-width: $bp-mobile) {
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(8, 1fr);
        }

        &-img3 {
          grid-column: 1 / 5;
          grid-row: 1 / 3;
          width: 100%;
          @media only screen and (max-width: $bp-mobile) {
            grid-column: 1 / -1;
            grid-row: 1 / 3;
          }
        }

        &-1 {
          grid-column: 7 / -1;
          grid-row: 1 / 3;
          @media only screen and (max-width: $bp-mobile) {
            grid-column: 3 / 5;
            grid-row: 5 / 7;
          }
          background: #e29f4c;
          color: $color-white;
          @include center-text;

          > p {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            font-size: 1.6rem;
          }
        }

        &-2 {
          grid-column: 7 / -1;
          grid-row: 3 / 5;
          @media only screen and (max-width: $bp-mobile) {
            grid-column: 3 / 5;
            grid-row: 7 / 9;
          }
          background: #f0f0f0;
          color: $color-text;
          @include center-text;
        }

        &-3 {
          grid-column: 5 / 7;
          grid-row: 3 / 5;
          @media only screen and (max-width: $bp-mobile) {
            grid-column: 1 / 3;
            grid-row: 7 / 9;
          }
          background: #2e464f;
          color: $color-white;
          @include center-text;
        }

        &-5 {
          grid-column: 3 / 5;
          grid-row: 3 / 5;
          @media only screen and (max-width: $bp-mobile) {
            grid-column: 3 / 5;
            grid-row: 3 / 5;
          }
          background: #ffffff;
          color: $color-text;
          @include center-text;
        }

        &-4 {
          grid-column: 1 / 3;
          grid-row: 3 / 5;
          @media only screen and (max-width: $bp-mobile) {
            grid-column: 1 / 3;
            grid-row: 3 / 5;
          }
          background: #4a4a4a;
          color: $color-white;
          @include center-text;
        }

        &-7 {
          grid-column: 5 / 7;
          grid-row: 1 / 3;
          @media only screen and (max-width: $bp-mobile) {
            grid-column: 1 / 3;
            grid-row: 5 / 7;
          }
          background: $color-indiewool;
          color: $color-white;
          @include center-text;
        }
      }
    }
  }
}

//LOGOS SECTION========================
.logo {
  grid-column: 1 / -1;
  &__primary {
    margin: 8rem 0 8rem 0;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    @media only screen and (max-width: $bp-mobile) {
      grid-template-columns: 1fr 4fr 1fr;
      
    }
    align-items: center;
    justify-items: center;

    &-1 {
      display: grid;
      grid-column: 2 / 3;
      width: 70%;
      justify-self: left;
      @media only screen and (max-width: $bp-mobile) {
        justify-self: center;
      }
    }

    &-2 {
      display: grid;
      grid-column: 3 / 4;
      @media only screen and (max-width: $bp-mobile) {
        grid-column: 2 / 3;
        margin: 4rem auto;
      }
      width: 100%;
    }
  }

  &__alternate {
    margin: 8rem 0 8rem 0;
    display: grid;
    grid-template-columns: 1fr repeat(3, 3fr) 1fr;
    @media only screen and (max-width: $bp-mobile) {
      grid-template-columns: 1fr 4fr 1fr;
    }
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-gap: 2.4rem;

    &-1 {
      display: grid;
      grid-column: 2 / 3;
      width: 75%;
    }

    &-2 {
      display: grid;
      grid-column: 3 / 4;
      @media only screen and (max-width: $bp-mobile) {
        grid-column: 2 / 3;
      }
      width: 100%;
    }

    &-3 {
      display: grid;
      grid-column: 4 / 5;
      @media only screen and (max-width: $bp-mobile) {
        grid-column: 2 / 3;
      }
      width: 100%;
    }
  }

  &__grid {
    margin: 8rem 0 8rem 0;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    justify-items: center;

    // @media only screen and (max-width: $bp-small) {
    //   grid-template-columns: 1fr;
    //   grid-template-rows: min-content 1fr;
    // }

    &-1 {
      display: grid;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      width: 40%;
      justify-self: start;
      @media only screen and (max-width: $bp-small) {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        margin: 0 auto;
        width: 70%;
        max-width: 40rem;
      }

      // @media only screen and (min-width: $bp-largest) {
      //   width: 100%;
      // }
    }

    &-2 {
      display: grid;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-self: end;

      @media only screen and (max-width: $bp-small) {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        margin: 0 auto;
        width: 50%;
        max-width: 28rem;
        margin-bottom: 8rem;
      }

      
    }
  }
}
//TYPOGRAPHY SECTION========================
.typography {
  grid-column: 1 / -1;
  &__wrapper {
    margin: 4rem 0 4rem 0;
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr 0.5fr;
    @media only screen and (max-width: $bp-medium2) {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    &-cormorant {
      grid-column: 2 / 3;
      text-align: center;
      padding: 2rem;
      font-family: "Cormorant Upright";
      font-weight: 100;
      font-size: 2.4rem;
      @media only screen and (max-width: $bp-medium2) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        min-width: 310px;
      }

      > h3 {
        font-weight: 100;
      }
    }

    &-raleway {
      grid-column: 3 / 4;
      text-align: center;
      padding: 2rem;
      font-family: "Raleway";
      font-weight: 100;
      font-size: 2.4rem;
      @media only screen and (max-width: $bp-medium2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        min-width: 310px;
      }

      > h3 {
        font-weight: 100;
      }
    }
  }
}

//SOURCES SECTION========================
.testing {
  grid-column: 1 / -1;

  &__p {
    @include grid-setting-1;
    padding-top: 4rem;
    grid-template-rows: auto;
    margin-bottom: 4rem;

    &-1 {
      width: 100%;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }

    &-2 {
      width: 100%;
      grid-row: 3 / 4;
      grid-column: 2 / 3;
    }

    &-3 {
      margin-top: 4rem;
      grid-row: 4 / 5;
      grid-column: 2 / 3;
      width: 100%;
    }

    > p {
      grid-column: 2 / 3;
      margin-bottom: 4rem;

      >a {
        color: $color-accent;
      }
    }
  }
}

//RESPONSIVE DESIGN SECTION========================

.responsive {
  background: $color-gray-light;
  padding: 4rem 0 8rem 0;
  // background: $color-indiewool;
  grid-column: 1 / -1;

  &__wrapper {
    @include grid-setting-1;

    > p {
      padding-top: 4rem;
      grid-column: 2 / 3;

      > a {
        color: $color-accent;
      }
    }

    > video {
      margin-top: 4rem;
      grid-column: 2 / 3;
      width: 50%;
      @media only screen and (max-width: $bp-small) {
        width: 100%;
      }

      justify-self: center;
      border: 4px solid #2e464f;
    }
  }
}

sup {
  font-size: 8px;
}

td {
  vertical-align: middle;
}
//SOURCES SECTION========================
.hr {
  margin-top: 0;
}
.sources {
  grid-column: 1 / -1;
  background: $color-gray-light;
  padding-bottom: 4rem;
  &__ul {
    font-size: 1.2rem;
    color: $color-text-secondary;
    list-style: none;
    margin-left: 2.4rem;
  }
}
//CHARTS ===========================
// #fiberArts,
// #fiberArts4 {
//   width: 200px;
// }

// #chart2 {
//   width: 200px;
// }